# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bin/

*.vcxproj*
.DS_Store

# Makefile
*.win

BlackenedSoil.cbp
BlackenedSoil.depend
BlackenedSoil.layout
